@charset "utf-8";

/*font-family: 'Dosis', sans-serif;*/
body, html{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Dosis",sans-serif";
}
a,a:hover{
    text-decoration: none;
}

/*header*/
.header{
    background-color: #F2ADA7;
    height: 70px;
    line-height: 70px;
}
.logo{
    color: #BFD9C0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}
.menu{
    float:right;
}
.menu a{
    color: #BFD9C0;
    
}
/*bannière*/

/*about*/

/*portfolio*/

/*contact*/