@charset "utf-8";

/*font-family: 'Macondo', cursive;*/
body,
html {
    padding: 0;
    margin: 0;
    background: #eee9df url(../img/vintage.jpg) center top repeat;
}

body {
    font-family: 'Macondo', cursive;
}

a,
a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #04BAD8;
}

/*header*/
.header {
    /* background-color: #BCB6BD; */
    background-image: url(../img/vintage.jpg);
    height: 100%;
    line-height: 100%;
}

.logo {
    color: #982ca3;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3%;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color: #982ca3;
}

.menu a:hover {
    color: #5facca;
}

/*bannière*/
.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img {
    position: absolute;
    width: 100%;
    height: 30px;
    max-width: 30%;
    border-style: none;
    vertical-align: middle;


}

.inner-banner {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
    text-align:justify;
}

.inner-banner {
    text-shadow: 1px 1px 10px;
    text-align: justify;

}

/*about*/
#about {
    color: #FF99C1;
    text-align: center;
    margin-top: 10%;
}

.about article {
    background-color: #F4E2DE;

}

.about article h2 {
    text-align: center;
    margin-bottom: 5%;
}

#bases {
    color: #FF99C1;
    text-align: center;
    margin-top: 10%;
}

.bases h1 {
    text-align: center;
}

/*portfolio*/
#portfolio {
    color: #FF99C1;
    text-align: center;
    margin-top: 10%;
}

.portfolio galerie {
    background-color: #B599C2;
    margin-top: 10%;
    height: 400px;
    filter: sepia(60%);
    transition: 1s;
}

.portfolio img:hover {
    filter: sepia(20%);
    transform: scale(1.1);

}

/*contact*/
/* .contact { */
/* background-color: #dfdfde; */
/* } */

#contact {
    color: #FF99C1;
    margin-top: 10%;
    text-align: center;
}

.formulairecontact {
    width: 500%;
}