@charset "utf-8";

/*font-family: 'Macondo', cursive;*/
body,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Macondo', cursive;
}

a,
a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #04BAD8;
}

/*header*/
.header {
    background-color: #BCB6BD;
    height: 70px;
    line-height: 70px;
}

.logo {
    color: #F2FF8D;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color: #CAE6E9;
    margin-right: 20px;
}

.menu a:hover {
    color: #A4F2AC;
}

/*bannière*/
.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: absolute;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 25%;
    right: 20%;
    width: 100%;
    text-align: right;
}

.inner-banner {
    text-shadow: 1px 1px 20px;
}

/*about*/
#about {

    color: #FF99C1;
    text-align: center;
}

.about article {
    background-color: #F4E2DE;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about article h2 {
    text-align: center;
}

/*portfolio*/
#portfolio {
    color: #6d58d8;
    text-align: center;
}

.portfolio {
    background-color: #B599C2;
    height: 400px;
    filter: sepia(60%);
    transition: 1s;
}

.portfolio img:hover {
    filter: sepia(20%);
    transform: scale(1.1);

}

/*contact*/
.contact {
    background-color: #CAE6E9;
}

#contact {
    color: #BF9EEC;
    text-align: center;
}

.formulairecontact {
    width: 500px;
    display: block;
    margin: 0 auto;
}